<div layout="column" style="min-height: 100%;" ng-cloak>
    <md-toolbar layout="row" class="md-toolbar-tools">
        <md-button class="menu md-icon-button" ng-click="vm.toggleList()" aria-label="Show User List">
            <md-icon md-font-icon="menu">menu</md-icon>
        </md-button>
        <h1>Angular1 - base</h1>
    </md-toolbar>
    <div flex layout="row">

        <!-- Container #3 -->
        <md-sidenav class="md-whiteframe-4dp" md-component-id="left-sidenav">
            <md-toolbar layout="row" class="md-toolbar-tools">
                <h1>A1</h1>
                <span class="fill-remaining-space"></span>
                <md-button class="menu md-icon-button" ng-click="vm.toggleList()" aria-label="Show User List">
                    <md-icon md-font-icon="close">close</md-icon>
                </md-button>
            </md-toolbar>
            <site-navigation></site-navigation>
        </md-sidenav>

        <!-- Container #4 -->
        <md-content flex id="content">
             <div ng-view class="fade-animation"></div>
        </md-content>

    </div>
</div>